<div class="center hero-unit">
<h1>Virtual Piano Song Sheets</h1>
	<br/>
	<br/>

<h2>Search for you favourite songs</h2>
<%= form_tag posts_path, method: "get" do %>
		<%= text_field_tag :search, params[:search], class: "span5" %>
		<%= submit_tag "search", name: nil, class: "btn-large btn-primary" %>
<% end %>
</div>

<% @posts.each do |post| %>
<section
  	<h4><%= link_to post.song_name, post %></h4><br/>
		by: <b><%= post.user.name %></b><br/>
    <%= post.song %><br/>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
</section>
<% end %>



<br />


