<div class="center hero-unit">
	<h1><%= @post.song_name %></h1>
			<br/>
		<h2>transcript by: <b><%= @post.user.name %></b></h2>
		<% picture = @post.user.facebook.get_picture("me") %>
		<%= image_tag picture %>
			<br/>
			<br/>
    <%= @post.song %>
			<br/>
			<br/>
		<span class="timestamp">
			updated <%= time_ago_in_words(@post.updated_at) %> ago.
		</span>
			<%= link_to 'Edit', edit_post_path(@post) %> 
<br/>
</div>

<%= render partial: "comments/form", locals: { post_id: @post.id } %>
<%= render partial: "comments/show", locals: { comments: @comments, post_id: @post.id } %>


<%= link_to 'Back', posts_path %>

