<div class="center hero-unit">
	<h1><%= @post.song_name %></h1>
			<p>Transcript by: <%= @post.user.name %><br/>
					Rating: <%= @post.rating %>/10</p>
			<br/>
    		<p><%= @post.song %></p>
			<br/><br/>
			<span class="timestamp">
				updated <%= time_ago_in_words(@post.updated_at) %> ago.
			</span>
				<%= link_to 'Edit', edit_post_path(@post) %>
    		 
			<br/><br/>
				<% if !signed_in %>
					please login to rate songs
				<% else %>
					<%= render partial: "ratings/form", locals: { post_id: @post.id }%>
				<% end %>
		</div>

<%= render partial: "comments/form", locals: { post_id: @post.id } %>
<%= render partial: "comments/show", locals: { comments: @comments, post_id: @post.id } %>


<%= link_to 'Back', posts_path %>

